<!-- Navigation -->
<a id="menu-toggle" onclick="menuToggle()" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" onclick="menuToggle()" class="btn btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top" onclick="menuToggle()">{{ data.name }}</a>
        </li>
        <li>
            <a href="#top" onclick="menuToggle()">Home</a>
        </li>
        <li>
            <a href="#about" onclick="menuToggle()">About</a>
        </li>
        <li>
            <a href="#skills" onclick="menuToggle()">Skills</a>
        </li>
        <li>
            <a href="#portfolio" onclick="menuToggle()">Portfolio</a>
        </li>
        <li>
            <a href="#contact" onclick="menuToggle()">Contact</a>
        </li>
    </ul>
</nav>